.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 0.1px solid #ddd;
}
.Header_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px;
  margin-left: 45px;
}

.Logo_section {
  display: flex;
  align-items: center;
}

.Location_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}
.Location_Anywhere,
.Location_week,
.Location_guests {
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}

.Location_guests {
  color: #b0b0b0;
  font-weight: 300;
}

.Location_week {
  border-left: 0.1px solid #ddd;
  border-right: 0.1px solid #ddd;
}

.globe {
  color: "#FF385C";
}

.Profile_section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 2%;
}

.host {
  font-size: smaller;
  font-weight: 700;
  padding: 5px;
  letter-spacing: 0.3px;
}
.cart {
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  position: relative;
  right: 5%;
  letter-spacing: 0.3px;
}
.cart:hover {
  border: 2px solid black;
}

.globe {
  font-size: 18px;
  padding: 10px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 80px;
  border: 1px solid #b0b0b0;
  border-radius: 40px;
  color: #717171;
  cursor: pointer;
}

.menu {
  font-size: 18px;
}

.userCircle {
  font-size: 28px;
  margin-left: 13px;
  margin-top: 5px;
}
